pip install numpy==1.26.4
pip install pandas==2.1.3
pip install keras==3.5.0
pip install tensorflow==2.17.0
pip install h5py==3.10.0
pip install protobuf==4.25.5
pip install imutils==0.5.3
pip install opencv-python==4.8.0.74
pip install opencv-contrib-python==4.8.0.76
pip install scikit-learn==1.5.1
pip install matplotlib==3.7.1
pip install mediapipe==0.10.20
pip install nltk==3.8.1


 